

.emailList{
    margin: 0 !important;
    flex: 1;
    overflow: scroll;
    background-color: aliceblue !important;
}

.emailList_settings{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color:#F5EFE6  ;
    z-index: 999;
    padding-right: 10px;
}
.email-primary{
    font-size: 2px !important;
}
.emailList_sections{
    /* position: sticky; */
    top: 0;
    height: 3rem !important;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color:antiquewhite;
    z-index: 999;
}